@page
@{
    ViewData["Title"] = "Welcome to the Minnesota Weather Archive Project";
}
<div class="row">
    <div class="col-2">

    </div>
    <div class="col-9">
        <h1>Who Are We?</h1>
        <p>The Minnesota Weather Archive Project, ow <b>MWAP</b> was started in May 2022 by John Muraski. This project was started because there is one thing
           that affects all of us regardless of race, religion or creed. Since man took it's first steps, we have been affected on a daily basis by the weather, and
           no matter how advanced our technology gets, we will always be subjects to Mother Nature.</p>
        <p>Climate Change has become one of the hottest topics for the general public, not just meteorology/climatology, and the changes in the climate have many wondering
           just what those changes are, and what those changes look like. But how much have things changed over the years? This project is meant to help answer those quesiotns
           by providing historical data in an easy to access and browse format.</p>
    </div>  
    <div class="col-1">

    </div>
</div>
