@page
@{ 
    ViewData["Title"] = "Welcome to the Minnesota Weather Archive Project";
}

<div class="container">
    <div class="row">
        <div class="col-2">
            <h5>Help Support Us!</h5>
            <a asp-page="/Donate"><i class="fa fa-donate"></i>Donate Here</a>
        </div>
        <div class="main col-6">
            <h3 class="text-center">Welcome to the Minnesota Weather Archive Project</h3>
            <p><b>The Minnesota Weather Archive Project</b>(MWAP) is a non-profit, open source data project to collect and make easily available historical weather data for the great state of Minnesota.
               You can use the links in the navigation bar up above to navigate through the site, read more about us and browse through our collected data.</p>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>