@page
@{ 
    ViewData["Title"] = "Welcome to the Minnesota Weather Archive Project";
}

<div class="text-center">
    <h1>Welcome!</h1>
    <p>Welcome to the Minnesota Archive Weather Project! You can use the links above to navigate the website and learn more about this open source project!</p>
</div>