@page
@model WeatherViewer.Pages.Admin.RoadmapModel
@{
}

<div class="row">
    <div class="col-2">

    </div>
    <div class="col-9">
        <h1>Development Roadmap</h1>
        <p>MWAP is currently under development! See below for our current development road map and what the development phases that we are going through!</p>
        <div class="row row-cols-md-3">
            <div class="card custom-card">
                <h5 class="card-header">Phase One - <span style="color:blue">COMPLETE!</span></h5>
                <h6 class="card-subtitle">Foundational Phase</h6>
                <div class="card-body"><p>Initial development phase for the project. This phase will be a lot of the grunt work for future phases.</p>
                    <ol>
                        <li>Develop data pipeline between our database and NOAA</li>
                        <li>Develop back end foundation</li>
                        <li>Set up the Cloud environment</li>
                    </ol> 
                </div>
            </div>
            <div class="card custom-card""
                <h5 class="card-header">Phase Two-  <span style="color:greeb"> IN PROGRESS</span></h5>
                <h6 class="card-subtitle">Initial Web Phase</h6>
                <div class="card-body"><p>Initial development phase for the project. This phase will be a lot of the grunt work for future phases.</p>
                    <ol>
                        <li>First version of the website</li>
                        <li>Add First Feature - 2 Day Summary</li>
                        <li>Start Integrating UI elements and visuals</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <div class="col-1">

    </div>
</div>
