@page
@model WeatherViewer.Pages.Admin.RoadmapModel
@{
}

<div class="row">
    <div class="col-2">

    </div>
    <div class="col-9">
        <h1>Development Roadmap</h1>
        <p>MWAP is currently under development! See below for our current development road map and what the development phases that we are going through!</p>
        <div class="card" style="width: 18rem">
            <h5 class="card-header">Phase One</h5>
            <h6 class="card-subtitle">Initial Dev Phase</h6>
            <div class="card-body"><p>Initial development phase for the project. This phase will be a lot of the grunt work for future phases.</p>
                <ol>
                    <li>Develop data pipeline to retrieve weather data</li>
                    <li>Develop website</li>
                    <li>Build API for accessing data to the website</li>
                </ol>
            </div>
        </div>
    </div>
    <div class="col-1">

    </div>
</div>
